---
import EditLink from 'virtual:starlight/components/EditLink';
import LastUpdated from 'virtual:starlight/components/LastUpdated';
import Pagination from 'virtual:starlight/components/Pagination';
import config from 'virtual:starlight/user-config';
import { Icon } from '@astrojs/starlight/components';
---

<footer class="sl-flex">
	<div class="meta sl-flex">
		<EditLink />
		<LastUpdated />
	</div>
	<Pagination />

	<div class="built-with">
		Built with <a href="https://reforms.ai">Reforms.AI</a>
	</div>
</footer>

<style>
	@layer starlight.core {
		footer {
			flex-direction: column;
			gap: 1.5rem;
		}
		.meta {
			gap: 0.75rem 3rem;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: 3rem;
			font-size: var(--sl-text-sm);
			color: var(--sl-color-gray-3);
		}
		.meta > :global(p:only-child) {
			margin-inline-start: auto;
		}

		.built-with {
			margin: 1.5rem auto;
			font-size: var(--sl-text-xs);
			color: var(--sl-color-gray-3);
			text-align: center;
		}
		.built-with a {
			color: var(--sl-color-accent-high);
			text-decoration: none;
		}
		.built-with a:hover {
			color: var(--sl-color-white);
			text-decoration: underline;
		}
	}
</style>
